<div id="wrapper">
    <div id="header">
        <div id="menu" class="default bg-primary">
            <ul>
                <li class="logo">
                    <img src="assets/media/img/wodproof.png" alt="Logo">
                </li>
                <li>
                    <a class="nav-link" routerLink="/home" href="javascript:void(0);">
                        Qualifiers
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/user" href="javascript:void(0);">
                        USER
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/about" href="javascript:void(0);">
                        ABOUT
                    </a>
                </li>
            </ul>
        </div>
        <div class="side-nav">
            <ul class="sections">
                <li class="logo-mobile">
                    <img src="assets/media/img/wodproof.png" alt="Logo">
                </li>
                <li>
                    <a class="nav-link" routerLink="/home" href="javascript:void(0);">
                        Qualifiers
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/user" href="javascript:void(0);">
                        USER
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/about" href="javascript:void(0);">
                        ABOUT
                    </a>
                </li>
            </ul>
        </div>
        <div class="mobile">
            <div class="menu-icon">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>

        <div class="x-bar">
            <div class="side-bar1"></div>
            <div class="side-bar2"></div>
        </div>
    </div>
</div>