/* =====Created by Ivan Zolotukhin====== */
/* You can add global styles to this file, and also import other style files */


//***********color**********
$blue: rgba(127, 183, 226, 0.35);
$lilac: rgba(119, 173, 217, 1);
$melon: rgba(70, 175, 171, 0.69);


//========General class========
.pt-50 {
  padding-top: 50px;
}
//=================Preloader=============

//===============END preloader============

body {
  height: 100vh;
  width: 100%;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
}
.content {
  padding: 24px 24px 1px;
}

.home-page {
  background-color: $blue;
  width: 100%;
  min-height:calc(100vh - 50px);
}

.user-page {
  background-color: $lilac;
  width: 100%;
  min-height:calc(100vh - 50px);
}

.about-page {
  background-color: $melon;
  width: 100%;
  min-height:calc(100vh - 50px);
}

.z-input {
  margin: 40px 3%;
  position: relative;
}